.contactField {
  all: unset;
  border-bottom: 1px solid var(--primaryGreyColor);
  padding: 10px 10px 10px 0;
}

.contactField {
  width: calc(100% - 20px);
}

.contactGroup textarea {
  transition: 0.3s;
  height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.contactGroup textarea:focus {
  height: 200px;
  line-height: 1.5;
}

.contactGroup label {
  color: #7b7b7b;
  margin-left: 5px;
}

.contactField:focus {
  border-bottom: 1px solid var(--primaryGreyColor);
}

.contactField[type='submit'] {
  color: white;
  background-color: var(--fullBlackColor);
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  border: none;
  margin-top: 20px;
}

.contactField[type='submit']:hover,
.contactField[type='submit']:focus {
  background-color: var(--primaryColor);
  color: var(--fullBlackColor);
}

.submitted input:invalid,
.submitted textarea:invalid {
  border-color: red;
}

.submitted input:invalid:focus,
.submitted textarea:invalid:focus {
  outline-color: red;
}

.contactGroup div {
  font-size: 0.8em;
  color: red;
  margin-top: 0.5em;
  margin: 0.5em 0px;
}

.formWrapper .contactGroup:nth-child(1) {
  margin-top: 30px;
}
.formWrapper .contactGroup:nth-child(3) {
  margin-bottom: 20px;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #333;
  position: relative;
}

input[type='checkbox']:checked::before {
  content: '\2713';
  display: inline-block;
  font-size: 15px;
  color: var(--primaryColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactGroup label span {
  text-decoration: underline;
}
