.hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/MainPage/hero-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 1rem;
  color: var(--secondaryGreyColor);
}

.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 44, 44, 0.511);
  padding: 50px;
}

.hero-text h1 {
  margin-bottom: 10px;
}

.hero-text i {
  position: relative;
  top: 15px;
  transform: rotate(90deg);
  animation: beat 0.5s infinite alternate linear;
}

@keyframes beat {
  from {
    opacity: 1;
    top: 15px;
  }

  to {
    top: 25px;
    opacity: 0;
  }
}

.hero-nav {
  width: 100%;
}

.hero-nav .nav a {
  color: var(--secondaryGreyColor);
}

.hero-content div h1::before {
  display: none;
}

.hero-content hr {
  margin-top: 10px;
  width: 110%;
  border: 1px solid var(--primaryColor);
}

.main-info {
  max-width: 1100px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.main-info img {
  max-width: 100%;
  height: auto;
}

.main-info div {
  border-radius: var(--primaryBorderRadius);
}

.main-info div p {
  line-height: 1.5;
  max-width: 400px;
}

.main-info h2 {
  font-size: var(--lFontSize);
  font-weight: bold;
  margin: 10px 0px;
}

@media only screen and (max-width: 660px) {
  .hero-content hr {
    width: 80%;
  }

  .main-info {
    flex-wrap: wrap;
  }

  .main-info div p {
    max-width: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .hero-text {
    padding: 10px;
  }
  .hero-text h1 {
    font-size: var(--lFontSize);
  }
}

@media only screen and (max-width: 220px) {
  .hero-nav .nav {
    padding: 0 5px;
  }
}
