.offertSection {
  padding: 20px;
  margin: 20px 10px;
}

.offertBoxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.offertBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  max-width: 250px;
  min-width: 240px;
  min-height: 350px;
  padding: 20px;
}

.offertBox .name {
  font-weight: bold;
  font-size: var(--nFontSize);
}

.price {
  color: var(--primaryColor);
  font-weight: bold;
}

.offertBox .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.offertBox .details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offertBox .details div:nth-child(1) {
  margin: 20px 0px 20px 0px;
}

.offertBox a {
  text-decoration: none;
  background-color: var(--primaryColor);
  padding: 10px;
  border-radius: 5px;
  color: var(--fullBlackColor);
}

.offertInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  background: url('../assets/OffertPage/search.svg') no-repeat;
  background-size: 20px;
  background-position: 10px;
  background-color: var(--secondaryGreyColor);
  padding: 10px 10px 10px 40px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media only screen and (min-width: 660px) {
  .offertSection {
    max-width: 1200px;
    margin: 20px auto;
  }
  .searchInput {
    width: 80%;
  }
}
