@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto:wght@300&display=swap');
:root {
  --fullBlackColor: black;
  --customBlackColor: #2a2b2e;
  --primaryColor: #F0B865;
  --primaryGreyColor: #b1b1b1;
  --secondaryGreyColor: #F7F7F7;

  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'GFS Didot', serif;

  --primaryBorderRadius: 15px;
  --headingFontSize: 30px; 
  --nFontSize:16px;
  --mFontSize: 20px;
  --lFontSize: 26px;
  --primaryShadow: drop-shadow(3px 4px 9px rgba(0, 0, 0, 0.25));
}